@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
 
@layer base {
  body {
    font-family: 'Rubik', sans-serif;
  }
}
 
@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 350px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-picton-blue-dark-400;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* main, nav {
  @apply max-w-6xl mx-auto my-12;
}
p {
  @apply mt-2;
} */
/* h1 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
} */